# will also need pandas, numpy and matplotlib

pylatexenc
qiskit
qiskit-aer
amazon-braket-sdk
matplotlib

# needed for optimization algorithms in demo 8-optimization-optimization
qiskit-algorithms
qiskit-optimization